<!doctype html>
<html>
<head>
<title>NodeJsScan</title>
 <link href="template/css/bootstrap.min.css" rel="stylesheet">
 <link rel="icon" 
      type="image/png" 
      href="template/nodejs.png">
<script>
function f()
{
var d = new Date();
var n = 'NodeJsScan - Copyright &copy; ' + d.getFullYear() +'. All rights reserved. | <a href="https://twitter.com/ajinabraham">Ajin Abraham</a> | <a href="http://opensecurity.in">OpenSecurity</a>';
document.getElementById("foot").innerHTML=n;
} 
</script>
</head>
<body onload="f()">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><center><h2><img src="template/nodejs.png" width="40px" height="40px">   NodeJsScan </h2></center></div>
  <div class="panel-body">
    <p>NodeJsScan is a node.js Static Analysis Tool that can detect possible security issues, insecure code and outdated libraries (using retire.js).</p>
  </div>


 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
       <strong><span class="label label-danger">Possible Security Issues</span> </strong>
      </a>
    </div>
  </div>
</nav>
  <!-- Table -->
  <div class="panel panel-default">
  <div class="panel-body">

  <table class="table table-striped">
     <thead>
          <tr>
            <th>Issue</th>
            <th>Descriptiom</th>
            <th>Line</th>
            <th>File</th>
            <th>Location</th>
          </tr>
        </thead>
		
		<tbody>
         
		 {{DATA}}
          
        </tbody>


  </table>
  </div>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
       <strong><span class="label label-success">Missing Security Features</span> </strong>
      </a>
    </div>
  </div>
</nav>
 <div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped">
     <thead>
          <tr>
            <th>Issue</th>
            <th>Descriptiom</th>
   
          </tr>
        </thead>
    
    <tbody>
         
     {{SEC}}
          
        </tbody>
  </table>
   </div>
  </div>


 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
       <strong><span class="label label-warning">Outdated Libraries</span> </strong>
      </a>
    </div>
  </div>
</nav>
  <!-- Table -->
  <div class="panel panel-default">
  <div class="panel-body">

  <table class="table table-striped">
     <thead>
          <tr>
            <th>File</th>
            <th>Library</th>
            <th>Reference</th>
          </tr>
        </thead>
    
    <tbody>
         
     {{LIB}}
          
        </tbody>


  </table>
  </div>
  </div>

</div>
<div class="panel panel-default">

  <div id="foot" class="panel-body">
 x
  </div>

</div>
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="template/js/bootstrap.min.js"></script>
    
    <script src="template/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>